@model InsuranceCompany.Models.Staffs

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ФИО Сотрудника
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt>
           Должность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffPost)
        </dd>
        <dt>
           Стаж
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffExperience)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
